.navigation-web-sideb-1 {
  align-items: center;
  border: 0px none;
  display: flex;
  height: 48px;
  margin-top: 11px;
  min-width: 256px;
  padding: 0 30px;
}

.link {
  align-items: center;
  border: 1px none;
  display: flex;
  gap: 14px;
  width: fit-content;
}

.link-1 {
  color: var(--x747a80);
  font-weight: 700;
  line-height: 21px;
  margin-bottom: 0.86px;
  margin-left: 14px;
  min-height: 21px;
  min-width: 75px;
  white-space: nowrap;
}

.link-2 {
  color: var(--x000000primary);
  font-weight: 700;
  line-height: 21px;
  margin-top: -0.50px;
  white-space: nowrap;
  width: fit-content;
}

.bg {
  background-color: var(--x0052ffsoft3);
  border: 0px none;
  height: 48px;
  margin-left: 122px;
  width: 2px;
}